.header {
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100%;
  background-image: url("https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/hPea3Qy5Gd6z4kJLUruBbwAH8Rm.jpg");
  background-position: center;
  background-size: cover;
}
