.header {
  display: flex;
  justify-content: center;
  height: 40vh;
  width: 100%;
  background-image: url("https://coverfiles.alphacoders.com/675/67585.jpg");
  background-position: center;
  background-size: cover;
}
